* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #fff;
    --secondary-bg-color: #fafaf9;
    --primary-txt-color: #44403c;
    --drop-shadow-color: rgba(0, 0, 0, 0.1);
    --drop-shadow-color-hover: rgba(0, 0, 0, 0.2);
    --btn-bg-color: #dc2626;
    --btn-bg-color-hover: #b91c1c;
    --btn-txt-color: #fff;
    --accent-txt-color: #dc2626;
    --primary-border-color: #d6d3d1;
    --secondary-border-color: #44403c; 
    --icon-color: #44403c;
}

.dark-mode {
    --primary-bg-color: #0c0a09;
    --secondary-bg-color: #1c1917;
    --primary-txt-color: #fff;
    --primary-border-color: #fff;
    --secondary-border-color: #a8a29e;
    --icon-color: invert(100%) sepia(94%) saturate(26%) hue-rotate(7deg) brightness(106%) contrast(106%);
}

::-moz-selection { /* Firefox */
    color: var(--btn-txt-color);
    background: var(--accent-txt-color);
  }
  
::selection {
    color: var(--btn-txt-color);
    background: var(--accent-txt-color);
}

body {
    font-family: 'Sentient', serif;
    font-size: 16px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--secondary-bg-color);
    color: var(--primary-txt-color);
}

header {
    padding: 16px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 2px 10px 0px var(--drop-shadow-color);
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.3rem;
    user-select: none;
}

.logo img {
    height: 2rem;
}

.icon.dark-mode {
    filter: var(--icon-color);
}

button {
    padding: 8px 24px;
    font-size: 1.2rem;
    font-family: 'Sentient', serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 2px solid var(--btn-bg-color);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
}

button:hover {
    background-color: var(--btn-bg-color-hover);
    border-color: var(--btn-bg-color-hover);
}

.header-btn-container {
    display: flex;
    gap: 2rem;
}

.add-btn {
    gap: 4px;
    /* border-color: var(--primary-bg-color); */
}

.main-container.blur {
    filter: blur(4px)
}

.lib-grid {
    width: 100%;
    padding: 24px 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 216px);
    gap: 24px;
}

.book {
    min-height: 250px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: -2px 0px 10px var(--drop-shadow-color);
    background-color: var(--primary-bg-color);
}

.book:hover {
    cursor: pointer;
    box-shadow: -4px 0px 15px var(--drop-shadow-color-hover);
}

.book .book-info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.book .title {
    font-size: 1.3rem;
    line-height: 1.4rem;
}

.book .btn-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn-container button, .theme-btn {
    font-weight: 400;
    background-color: var(--secondary-bg-color);
    border-color: var(--primary-border-color);
    color: var(--primary-txt-color);
}

.btn-container button:hover, .theme-btn:hover {
    background-color: var(--primary-bg-color);
    border-color: var(--secondary-border-color);
}

.btn-container .del-btn:hover {
    color: var(--accent-txt-color);
    border-color: var(--accent-txt-color);
}

footer {
    padding: 16px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px -2px 10px 0px var(--drop-shadow-color);
}

footer a {
    color: var(--primary-txt-color);
}

/* FORM POP-UP */
.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    z-index: 999;
    display: none;
    transition: .3s;
}

.form-container.active {
    display: grid;
}

.form-container form {
    min-height: 50%;
    min-width: 25%;
    padding: 48px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: relative;
    background-color: var(--primary-bg-color);
    box-shadow: -2px 0px 10px var(--drop-shadow-color);
}

form .x-btn {
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
    accent-color: var(--primary-txt-color);
}

form h2 {
    align-self: center;
}

form ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* form ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
} */

form ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    gap: 1rem;
}

form ul li label {
    display: flex;
    align-items: center;
    font-weight: 500;
}

form ul li .error-msg {
    grid-column: 1 / -1;
    justify-content: end;
    font-size: .8rem;
    display: flex;
    color: var(--accent-txt-color)
}

/* form ul li .error-msg.active {
    display: flex;
} */

form ul li input {
    padding: 4px;
    /* width: ; */
    font-size: 1rem;
    font-family: 'Sentient', serif;
    outline: none;
    border-radius: 4px;
    border: 2px solid var(--primary-border-color);
}

form ul li input:focus {
    border-color: var(--secondary-border-color);
}

form ul li input.error {
    border-color: var(--btn-bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

form .radio-btns {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 4px;
}

form legend {
    font-weight: 500;
}

form .radio-btns label {
    font-weight: 400;
}

form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: .8rem;
    height: .8rem;
    background: linear-gradient(var(--btn-bg-color) 0 0) 50%/0 0 no-repeat;
    transition: .3s;
}

form input[type="radio"]:checked {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
    background-size: 100% 100%;
}

form label[for="have-read"] {
    margin-right: 16px;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 767px) {
    header {
        padding: 16px;
    }

    .logo {
        font-size: 1rem;
    }

    .logo img {
        height: 1.8rem;
    }

    .lib-grid {
        padding: 16px;
        /* grid-template-columns: repeat(auto-fit, 216px); */
    }

    .add-btn {
        padding: 8px;
    }

    .form-container form {
        padding: 16px;
        margin: 16px;
    }

    .header-btn-container {
        gap: 1rem;
    }
}